<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiongantaoli.background.mapper.ProductColorMapper" >
  <resultMap id="BaseResultMap" type="com.xiongantaoli.background.entity.ProductColor" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, `name`
  </sql>
  <select id="selectallcolor" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from product_color
  </select>
    <select id="selectcolor" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from product_color
    where name like "%"#{name}"%"
  </select>
  <select id="selectcolorbyname" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from product_color
    where name=#{name}
    or code=#{code}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from product_color where id=#{id}
  </select>
  <delete id="deletebyid" parameterType="java.lang.Integer" >
    delete from product_color
    where id = #{id}
  </delete>
  <insert id="insertcolor">
  insert into product_color (code, name
      )
    values ( #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiongantaoli.background.entity.ProductColor">
    insert into product_color
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiongantaoli.background.entity.ProductColor" >
    update product_color
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiongantaoli.background.entity.ProductColor" >
    update product_color
    set code = #{code,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="updatebyid" parameterType="com.xiongantaoli.background.entity.ProductColor" >
  insert into product_color (id,code,name)
      values (#{id}, #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from product_color
  </select>
</mapper>