<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiongantaoli.background.mapper.ProductModelMapper" >
  <resultMap id="BaseResultMap" type="com.xiongantaoli.background.entity.ProductModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, `name`
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from product_model
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectallmodel" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from product_model
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
     select 
    <include refid="Base_Column_List" />
    from product_model
  </select>
    <select id="selectmodel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_model
    where name like "%"#{name}"%"
  </select>
    <select id="selectmodelbyname" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_model
    where name=#{name} or
    code=#{code}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_model
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deletebyid" >
    delete from product_model
    where id = #{id}
  </delete>
    <insert id="insert" >
    insert into product_model (code, name
      )
    values ( #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertmodel" >
    insert into product_model (code, name
      )
    values ( #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiongantaoli.background.entity.ProductModel" >
    insert into product_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiongantaoli.background.entity.ProductModel" >
    update product_model
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiongantaoli.background.entity.ProductModel" >
    update product_model
    set code = #{code,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="updatebyid" >
  insert into product_model
  (id,code,name)
      values (#{id}, #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
</mapper>